$marron : rgb(61, 19, 25);
$bleu-clair : rgb(69, 161, 236);
$orange : rgb(199, 116, 18);
$vert: rgb(78, 158, 73);

/*Text avec changement de couleur*/

@mixin gradient($colour1, $colour2){
    background: linear-gradient(0.8turn,$colour1,$colour2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin box{
    height: 26em;
    width: 18em;
    margin-left: 2em;
    margin-right: 2em;
    position: relative;
    right: -1%;
    box-shadow: 0px 0px 8px #cfcfcf;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@mixin txt {
    font-size: 1.2em;
}

/*4 menus*/

nav
{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.Menu
{
    display: flex;
    margin-top: 6em;
}

.Menu2
{
    display: flex;
    margin-top: 2em;
}

.note
{
    background-color: rgb(252, 223, 219);
    @include box;
    color: $marron;
    &__txt{
        @include txt;
        font-family: 'devonshireregular';
        font-size: 1.8em;
    }
    
}

.delice
{
    background-color: rgb(249, 249, 249);
    @include box;
    &__txt{
       @include gradient(rgb(166, 216, 255),rgb(27, 66, 124) );
       @include txt; 
       font-family: 'alex_brushregular';  
       font-size: 1.8em;
    }
}

#chic
{
    background-color: rgb(255, 245, 254);
    @include box;
    &__txt{
        @include gradient(rgb(70, 13, 70),$orange);
        @include txt;
        margin-top: 3.5em;
        font-family: 'croissant_oneregular';
    }
}

#palette
{
    @include box;
    &__txt{
        @include gradient(rgb(194, 194, 194),$vert);
        @include txt;
        font-family: 'kaushan_scriptregular';
        font-size: 1.6em;
    }
    
}

.police
{
    font-family: 'street_freehanditalic';
    font-size: 1.6em;
    &--2{
        font-size: 1.6em;
        font-family: 'serif12_betabold';
    }
    &--3{
        font-family: 'giotto_handwritingregular';
        font-size: 2.2em;
    }
    &--4{
        margin-top: 1.7em;
    }
}

#note2 a {
    text-decoration: none;
    color: $marron;
}

#chic2 a {
    text-decoration: none;
    color: $orange;
}

#delice2 a {
    text-decoration: none;
    color: $bleu-clair;
}

#palette2 a {
    text-decoration: none;
    color: $vert;
}


/*Prochainement*/

aside h2
{
    text-align: center;
    color: rgb(228, 208, 35);
    border: 1px solid #11836a;
    background-color: #11836a;
    border-radius: 8px/ 10px;
    width: 9em;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 2em;
    padding: 0.3em;
}

@media all and (max-width: 810px){

    .note{
        width: 16em;
        height: 24em;
    }

    .delice{
        width: 16em;
        height: 24em;
    }

    #chic{
        width: 16em;
        height: 24em;
    }

    #palette{
        width: 16em;
        height: 24em;
    }
}

@media all and (max-width: 670px){

    .note{
        width: 12em;
        height: 20em;
    }

    .delice{
        width: 12em;
        height: 20em;
    }

    #chic{
        width: 12em;
        height: 20em;
    }

    #palette{
        width: 12em;
        height: 20em;
    }

    aside h2 {
        font-size: 1.35em;
    }

    footer{
        font-size: 0.98em;
    }
}

@media all and (max-width: 500px){

    .note{
        width: 13em;
        height: 20em;
        font-size: 0.88em;
    }

    .delice{
        width: 13em;
        height: 20em;
        font-size: 0.88em;
    }

    #chic{
        width: 13em;
        height: 20em;
        font-size: 0.88em;
    }

    #palette{
        width: 13em;
        height: 20em;
        font-size: 0.88em;
    }

    footer{
        font-size: 0.92em;
    }
}

@media all and (max-width: 450px){

    .note{
        width: 13em;
        height: 20em;
        font-size: 0.75em;
    }

    .delice{
        width: 13em;
        height: 20em;
        font-size: 0.75em;
    }

    #chic{
        width: 13em;
        height: 20em;
        font-size: 0.75em;
    }

    #palette{
        width: 13em;
        height: 20em;
        font-size: 0.75em;
    }
}

@media all and (max-width: 380px){

    .note{
        width: 13em;
        height: 20em;
        font-size: 1em;
    }

    .delice{
        width: 13em;
        height: 20em;
        font-size: 1em;
    }

    #chic{
        width: 13em;
        height: 20em;
        font-size: 1em;
    }

    #palette{
        width: 13em;
        height: 20em;
        font-size: 1em;
    }

    aside h2 {
        font-size: 1.2em;
    }

    footer{
        font-size: 0.86em;
    }
}

@media all and (max-width: 330px){

    .note{
        width: 13em;
        height: 20em;
        font-size: 0.58em;
    }

    .delice{
        width: 13em;
        height: 20em;
        font-size: 0.58em;
    }

    #chic{
        width: 13em;
        height: 20em;
        font-size: 0.58em;
    }

    #palette{
        width: 13em;
        height: 20em;
        font-size: 0.58em;
    }

    footer{
        font-size: 0.81em;
    }
}