/*Fichier des variables globales du projet*/
/* Couleurs */
/* Breakpoints */
/*Fichier des variables globales du projet*/
/* Couleurs */
/* Breakpoints */
/***** Sections *****/
/***** Polices *****/
/***** Boutons *****/
/***** Footer *****/
footer {
  color: white;
  width: 100%;
  height: 186px;
  background-color: #353535;
}
footer a {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}
footer a:hover {
  color: #c4c4c4;
}
footer img {
  margin-right: 10px;
}

.footer {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin-bottom: 18px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

/***** Sections *****/
/***** Polices *****/
/***** Boutons *****/
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

main {
  width: 100%;
}
@media (min-width: 1440px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

header {
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header a {
  position: absolute;
  left: 17px;
  width: 30px;
  height: 30px;
}
header a img {
  width: 100%;
  height: 100%;
}
header img {
  margin: 0;
  width: 197px;
  height: 36px;
}

/***** Sections *****/
/* Section img */
.section__img {
  width: 100%;
  height: 275px;
  z-index: 0;
}
.section__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__menu {
  position: relative;
  margin-top: -55px;
  padding-top: 55px;
  width: 100%;
  height: 1121px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #F3F3F3;
  z-index: 1;
}
@media (min-width: 1440px) {
  .section__menu {
    width: 1055px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section__menu--enchantee {
  position: relative;
  margin-top: -55px;
  padding-top: 55px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #F3F3F3;
  z-index: 1;
  height: 1180px;
}
@media (min-width: 1440px) {
  .section__menu--enchantee {
    width: 1055px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section__menu--padding {
  padding: 0 17px 0 17px;
  display: flex;
  flex-direction: column;
}
.section__menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 23px;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 40px;
}
@media (min-width: 1440px) {
  .section__menu__title {
    justify-content: center;
    gap: 24px;
  }
}
.section__menu__title img {
  width: 22px;
  height: 21px;
}
.section__menu__title__plat {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
.section__menu__title__plat__border {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  margin-top: 5px;
}
.section__menu__box {
  height: 69px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15.04px;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
}
@media (min-width: 1440px) {
  .section__menu__box {
    width: 634px;
  }
}
.section__menu__box__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
}
.section__menu__box__txt {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
}
.section__menu__box__price {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  color: #353535;
}
.section__menu__box__price--align {
  height: 42px;
  display: flex;
  align-items: flex-end;
}
.section__menu__entree {
  margin-bottom: 40px;
}
.section__menu__plat {
  margin-bottom: 40px;
}
.section__menu__dessert {
  margin-bottom: 40px;
}

/***** Boutons *****/
.btn {
  width: 186px;
  height: 50px;
  border: 0px solid;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 450ms;
}
.btn__div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn:hover {
  transform: scale(1.1);
}

/***** Font *****/
i {
  font-size: 0.8em;
  color: #F3F3F3;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
i:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-shadow: none;
}/*# sourceMappingURL=restaurants.css.map */