@import './components/variables.scss';
@import './restaurants.scss';
@import './components/footer.scss';
@import './components/mixins.scss';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2252px;
    @media (min-width: $bp-desktop) {
        height: 1544px;
    }
}

header {
    height: 63px;
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    @media (min-width: $bp-desktop) {
        width: 1440px;
    }
    img {
        width: 197px;
        height: 36px;
    }
}

/***** Sections *****/
/* Section 1 */
.search-bar {
    z-index: 0;
    @include section(50px, 375px, $color-search-place);
    flex-direction: row;
    justify-content: center;
    @media (min-width: $bp-desktop) {
        width: 1440px;
    }
    img {
        margin-right: 16px;
        margin-left: 25%;
        @media (min-width: $bp-desktop) {
            margin-left: 6%;
        }
    }
    input {
        border:none;
        background: none;
        background-color: inherit;
        @include police('Roboto', 500, 16px);
        color: $color-footer;
        &:focus {
            outline: none;
        }
    }
}

/* Section 2 */
.exploration {
    display: flex;
    flex-direction: column;    
    @include section(288px, 375px, $color-background);
    text-align: center;
    @media (min-width: $bp-desktop) {
        width: 1440px;
        gap: 18px;
    }
    h2 {
        margin: 0;
        width: 275px;
        height: 68px;
        @media (min-width: $bp-desktop) {
            width: 645px;
            height: 47px;
            margin: 0;
        }
    }
    h3 {
        height: 46px;
        margin-bottom: 35px;
        @media (min-width: $bp-desktop) {
            height: 46px;
            margin: 0;
        }
        }
}

/* Section 3 */
.fonctionnement {
    @include section(440px, 375px, white);
    
    @media (min-width: $bp-desktop) {
        width: 1440px;
        height: 230px;
        display: flex;
        align-items: center;
    }
    h2 {
        text-align: start;
    }
    &__responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: $bp-desktop) {
            flex-direction: row;
            gap: 30px;
        }
    }
    &__title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-left: 34px;
        @media (min-width: $bp-desktop) {
            margin-left: 390px;
        }
    }
    &__div{
        width: 322.49px;
        height: 72.38px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: $color-background;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        margin-bottom: 26px;
        @media (min-width: $bp-desktop) {
            width: 335px;
        }

        img {
            position: relative;
            left: -27px;
        }

        &__id {
            &--1 {
                @include id(-65px);
                @media (min-width: $bp-desktop) {
                    left: -73px;
                }
            }
            &--2 {
                @include id(-73px);
                @media (min-width: $bp-desktop) {
                    left: -79px;
                }
            }
            &--3 {
                @include id(-69px);
                @media (min-width: $bp-desktop) {
                    left: -76px;
                }
            }
        
            p {
                position: relative;
                top: 1px;
            }
        }
    }
}

/* Section 4 */
.restaurants {
    @include section(1226px, 375px, $color-background);
    @media (min-width: $bp-desktop) {
        width: 1440px;
        height: 608px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-left: 34px;
        @media (min-width: $bp-desktop) {
            margin-left: 360px;
        }
    }
    &__nouveau {
        display: flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        top:13px;
        right: 13px;
        z-index: 1;
        width: 80px;
        height: 29px;
        background: $color-green;
        color:$color-green-text;
        border-radius: 2px;
        @include police('Roboto', 500, 14px);
    }

    a {
        text-decoration: none;
        color: black;
    }

    &__div {
        position: relative;
        width: 340px;
        height: 251px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: white;
        border-radius: 15px;
        margin-bottom: 18px;
        @media (min-width: $bp-desktop) {
            width: 490px;
        }
        &--img {
            width: 100%;
            height: 174px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        &__bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 77px;
            h4 {
                margin: 0;
            }
            p {
                margin: 0;
            }

            &__txt {
                margin-left: 14px;
            }

            &__img {
                margin-right: 25px;
            }
        }
    }
}

#resto {
    @media (min-width: $bp-desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:100px;
    }
}

/***** Polices *****/
h2 {
    @include police('Roboto', 700, 24px);
}

h3 {
    @include police('Roboto', 300, 18px);
}

h4 {
    @include police('Roboto', 700, 18px);
}

.medium-txt {
    @include police('Roboto', 500, 16px);
}

.light-txt {
    @include police('Roboto', 300, 17px);
}

/***** Boutons *****/
.btn {
    @include bouton(218px);
}

