/*Fichier des variables globales du projet*/
/* Couleurs */
/* Breakpoints */
/*Fichier des variables globales du projet*/
/* Couleurs */
/* Breakpoints */
/*Fichier des variables globales du projet*/
/* Couleurs */
/* Breakpoints */
/***** Sections *****/
/***** Polices *****/
/***** Boutons *****/
/***** Footer *****/
footer {
  color: white;
  width: 100%;
  height: 186px;
  background-color: #353535;
}
footer a {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}
footer a:hover {
  color: #c4c4c4;
}
footer img {
  margin-right: 10px;
}

.footer {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin-bottom: 18px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

/***** Sections *****/
/***** Polices *****/
/***** Boutons *****/
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

main {
  width: 100%;
}
@media (min-width: 1440px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

header {
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header a {
  position: absolute;
  left: 17px;
  width: 30px;
  height: 30px;
}
header a img {
  width: 100%;
  height: 100%;
}
header img {
  margin: 0;
  width: 197px;
  height: 36px;
}

/***** Sections *****/
/* Section img */
.section__img {
  width: 100%;
  height: 275px;
  z-index: 0;
}
.section__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__menu {
  position: relative;
  margin-top: -55px;
  padding-top: 55px;
  width: 100%;
  height: 1121px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #F3F3F3;
  z-index: 1;
}
@media (min-width: 1440px) {
  .section__menu {
    width: 1055px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section__menu--enchantee {
  position: relative;
  margin-top: -55px;
  padding-top: 55px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #F3F3F3;
  z-index: 1;
  height: 1180px;
}
@media (min-width: 1440px) {
  .section__menu--enchantee {
    width: 1055px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section__menu--padding {
  padding: 0 17px 0 17px;
  display: flex;
  flex-direction: column;
}
.section__menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 23px;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 40px;
}
@media (min-width: 1440px) {
  .section__menu__title {
    justify-content: center;
    gap: 24px;
  }
}
.section__menu__title img {
  width: 22px;
  height: 21px;
}
.section__menu__title__plat {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
.section__menu__title__plat__border {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  margin-top: 5px;
}
.section__menu__box {
  height: 69px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15.04px;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px 0 15px;
}
@media (min-width: 1440px) {
  .section__menu__box {
    width: 634px;
  }
}
.section__menu__box:hover .add {
  animation: boxDegrade 0.2s forwards;
}
.section__menu__box__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
}
.section__menu__box__txt {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
}
.section__menu__box__price {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  color: #353535;
  margin-right: 15.04px;
}
.section__menu__box__price--align {
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__menu__entree {
  margin-bottom: 40px;
  visibility: hidden;
  animation: boxDegrade 0.5s forwards;
}
.section__menu__plat {
  margin-bottom: 40px;
  visibility: hidden;
  animation: boxDegrade 0.5s 0.5s forwards;
}
.section__menu__dessert {
  margin-bottom: 40px;
  visibility: hidden;
  animation: boxDegrade 0.5s 1s forwards;
}

.add {
  color: #353535;
  visibility: hidden;
}
.add:hover {
  cursor: pointer;
}

.valid {
  position: absolute;
  width: 59px;
  height: 69px;
  border-top-right-radius: 15.04px;
  border-bottom-right-radius: 15.04px;
  background: #99E2D0;
  right: 15.04px;
  visibility: hidden;
}

@keyframes boxDegrade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
/***** Boutons *****/
.btn {
  width: 186px;
  height: 50px;
  border: 0px solid;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

/***** Font *****/
.like {
  font-size: 0.8em;
  color: #F3F3F3;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: color 1s ease, text-shadow 0.1s ease;
}
.like:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-shadow: none;
}

/*Fichier des variables globales du projet*/
/* Couleurs */
/* Breakpoints */
/***** Sections *****/
/***** Polices *****/
/***** Boutons *****/
/***** Footer *****/
footer {
  color: white;
  width: 100%;
  height: 186px;
  background-color: #353535;
}
footer a {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}
footer a:hover {
  color: #c4c4c4;
}
footer img {
  margin-right: 10px;
}

.footer {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin-bottom: 18px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

/***** Sections *****/
/***** Polices *****/
/***** Boutons *****/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 2252px;
}
@media (min-width: 1440px) {
  body {
    height: 1544px;
  }
}

header {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
header img {
  width: 197px;
  height: 36px;
}

main {
  width: 100%;
}

/***** Sections *****/
/* Section 1 */
.search-bar {
  z-index: 0;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-bar img {
  margin-right: 16px;
  margin-left: 85px;
}
.search-bar input {
  border: none;
  background: none;
  background-color: inherit;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #353535;
}
.search-bar input:focus {
  outline: none;
}

/* Section 2 */
.exploration {
  display: flex;
  flex-direction: column;
  height: 288px;
  width: 100%;
  background-color: #F3F3F3;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 1440px) {
  .exploration {
    gap: 18px;
  }
}
.exploration h2 {
  margin: 0;
  width: 275px;
  height: 68px;
}
@media (min-width: 1440px) {
  .exploration h2 {
    width: 645px;
    height: 47px;
    margin: 0;
  }
}
.exploration h3 {
  height: 46px;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  .exploration h3 {
    height: 46px;
    margin: 0;
  }
}

/* Section 3 */
.fonctionnement {
  height: 440px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1440px) {
  .fonctionnement {
    height: 230px;
    display: flex;
    align-items: center;
  }
}
.fonctionnement h2 {
  text-align: start;
}
.fonctionnement__responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1440px) {
  .fonctionnement__responsive {
    flex-direction: row;
    gap: 30px;
  }
}
.fonctionnement__title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
  left: -10px;
}
.fonctionnement__div {
  width: 322.49px;
  height: 72.38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #F3F3F3;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 26px;
}
@media (min-width: 1440px) {
  .fonctionnement__div {
    width: 335px;
  }
}
.fonctionnement__div img {
  position: relative;
  left: -27px;
}
.fonctionnement__div__id--1 {
  position: relative;
  left: -65px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14.18px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #9356DC;
}
@media (min-width: 1440px) {
  .fonctionnement__div__id--1 {
    left: -73px;
  }
}
.fonctionnement__div__id--2 {
  position: relative;
  left: -73px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14.18px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #9356DC;
}
@media (min-width: 1440px) {
  .fonctionnement__div__id--2 {
    left: -79px;
  }
}
.fonctionnement__div__id--3 {
  position: relative;
  left: -69px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14.18px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #9356DC;
}
@media (min-width: 1440px) {
  .fonctionnement__div__id--3 {
    left: -76px;
  }
}
.fonctionnement__div__id p {
  position: relative;
  top: 1px;
}

/* Section 4 */
.restaurants {
  height: 1226px;
  width: 100%;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1440px) {
  .restaurants {
    height: 608px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.restaurants__title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.restaurants__nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 1;
  width: 80px;
  height: 29px;
  background: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants__div {
  position: relative;
  width: 340px;
  height: 251px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-radius: 15px;
  margin-bottom: 18px;
}
@media (min-width: 1440px) {
  .restaurants__div {
    width: 490px;
  }
}
.restaurants__div--img {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__div__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 77px;
}
.restaurants__div__bottom h4 {
  margin: 0;
}
.restaurants__div__bottom p {
  margin: 0;
}
.restaurants__div__bottom__txt {
  margin-left: 14px;
}
.restaurants__div__bottom__img {
  cursor: pointer;
  margin-right: 14px;
}

@media (min-width: 1440px) {
  #resto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
}

/***** Polices *****/
h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
}

h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
}

.medium-txt {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}

.light-txt {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
}

/***** Boutons *****/
.btn {
  width: 218px;
  height: 50px;
  border: 0px solid;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

/***** Font *****/
i {
  font-size: 1.5em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: color 1s ease, text-shadow 0.1s ease;
}
i:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-shadow: none;
}

/***** Loader *****/
.loader-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: degrade 3s forwards;
}

.loader {
  border: 8px solid #F3F3F3;
  border-top: 8px solid #FF79DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: rotation 1s ease infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes degrade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */