/***** Sections *****/
@mixin section($height, $width, $background-color) {
    height: $height;
    width: $width;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/***** Polices *****/
@mixin police($font-family, $font-weight, $font-size) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
}

/***** Boutons *****/
@mixin bouton($width) {
    width: $width;
    height: 50px;
    border: 1px solid;
    color: white;
    background: linear-gradient($color-pink, $color-purple);
    border-radius: 25px;
    @include police('Roboto', 500, 16px);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}