/***** Sections *****/
@mixin section($height, $background-color) {
    height: $height;
    width: 100%;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/***** Polices *****/
@mixin police($font-family, $font-weight, $font-size) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
}

/***** Boutons *****/
@mixin bouton($width) {
    width: $width;
    height: 50px;
    border: 0px solid;
    color: white;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient($color-pink, $color-purple);
    border-radius: 25px;
    @include police('Roboto', 500, 16px);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin id($position) {
    position : relative;
    left: $position;
    @include police('Roboto', 500, 14.18px);
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: $color-purple;
}

